<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Lawyer Justice HTML5 Template | Shop Single  </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/nouislider.css" rel="stylesheet">
<link href="css/nouislider.pips.css" rel="stylesheet">
<link href="css/jquery.bootstrap-touchspin.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-outer-container">
	<div class="page-wrapper">
 	
        <!-- Preloader -->
        <div class="preloader"></div>
        
        <!-- Main Header -->
        <header class="main-header">
            <!-- Top Bar -->
            <div class="top-bar">
                <div class="auto-container clearfix">
                    <!-- Top Left -->
                    <div class="top-left">
                        <div class="text">Our &nbsp;<a href="#">No Fee Promise</a>&nbsp; Means, No Cost Until Your Case is Won.</div>
                    </div>
                    
                    <!-- Top Right -->
                    <div class="top-right clearfix">
                        
                        <!--Search Box-->
                        <div class="search-box">
                        	<form method="post" action="index.html">
                            	<div class="form-group">
                                	<input type="search" name="search" value="" placeholder="Search Your Needs Here">
                                    <button type="submit" name="search" class="theme-btn search-btn"><span class="fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Language Box-->
                        <div class="lang-box">
                        	<div class="selected-btn sel-btn"><span class="flag-icon" style="background-image:url(images/icons/icon-flag.png);"></span><span class="language-label">English</span><span class="icon fa fa-caret-down"></span></div>
                            <ul class="lang-list">
                            	<li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Chinese</a></li>
                                <li><a href="#">Arabic</a></li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
            </div><!-- Top Bar End -->
            
            <!--Middle Bar-->
            <div class="middle-bar">
            	<div class="auto-container">
                	<div class="clearfix">
                    	<!--Logo Column-->
                        <div class="logo-column">
                        	<figure class="logo"><a href="index.html"><img src="images/logo.png" alt="" title="Lawyer Justice"></a></figure>
                        </div>
                        <!--Info Column-->
                        <div class="info-column pull-left">
                        	<p>5648 VK 26th Lane - Florida 26154.</p>
                            <h3>+123.859.1263</h3>
                        </div>
                        <!--Info Column-->
                        <div class="info-column pull-right">
                        	<p>Office Hours: 09.00am - 17.00pm</p>
                            <h3>info@domain.com</h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Lower Section -->
            <div class="lower-section">
                <div class="auto-container">
                    
                    <!--Outer Box-->
                    <div class="outer-box clearfix">
                         
                        <!-- Hidden Nav Toggler -->
                        <div class="nav-toggler">
                        <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                        </div><!-- / Hidden Nav Toggler -->
                         
                        
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="dropdown"><a href="about-us.html">About Us</a>
                                    	<ul>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li class="dropdown"><a href="gallery.html">Gallery</a>
                                            	<ul>
                                                	<li><a href="gallery.html">Gallery</a></li>
                                                    <li><a href="gallery-single.html">Gallery Single</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="error.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="practice-areas.html">Practice Areas</a>
                                    	<ul>
                                            <li><a href="law-single.html">Consumer Law</a></li>
                                            <li><a href="law-single.html">Family Law</a></li>
                                            <li><a href="law-single.html">Criminal Law</a></li>
                                            <li><a href="law-single.html">Drug Control Law</a></li>
                                            <li><a href="law-single.html">Business Law</a></li>
                                            <li><a href="law-single.html">Insurance Law</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="attorneys.html">Attorneys</a>
                                    	<ul>
                                            <li><a href="attorney-single.html">David Vigo Michel</a></li>
                                            <li><a href="attorney-single.html">Jem Stone Lawrence</a></li>
                                            <li><a href="attorney-single.html">Mercy Van Desosa</a></li>
                                            <li><a href="attorney-single.html">Patrick John Meckey</a></li>
                                            <li><a href="attorney-single.html">Nancy Williamson</a></li>
                                            <li><a href="attorney-single.html">Stephen Fernando</a></li>
                                            <li><a href="attorney-single.html">Serina Jaccobs</a></li>
                                            <li><a href="attorney-single.html">Darren Flemming</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li class="dropdown"><a href="blog-classic.html">News</a>
                                    	  <ul>
                                            <li><a href="blog-classic.html">Blog Classic Layout</a></li>
                                            <li><a href="blog-list.html">Blog List Layout</a></li>
                                            <li><a href="blog-grid.html">Blog Grid Layout</a></li>
                                            <li><a href="blog-single.html">Blog Single Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="current dropdown"><a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="shop-single.html">Shop Single</a></li>
                                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="register-login.html">Register / Login</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        
                        <div class="link-box"><a href="#" class="theme-btn">Free Consultation</a></div>
                        
                    </div>
                </div>
            </div><!-- Lower Section End-->
            
        </header><!--End Main Header -->
        
        
        <!-- Hidden Bar -->
        <section class="hidden-bar right-align">
            
            <div class="hidden-bar-closer">
                <button class="btn"><i class="fa fa-close"></i></button>
            </div>
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">
            
                <!-- .logo -->
                <div class="logo text-center">
                    <a href="index.html"><img src="images/logo-3.png" alt=""></a>			
                </div><!-- /.logo -->
                
                <!-- .Side-menu -->
                <div class="side-menu">
                <!-- .navigation -->
                    <ul class="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown"><a href="about-us.html">About Us</a>
                            <ul class="submenu">
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li class="dropdown"><a href="gallery.html">Gallery</a>
                                    <ul class="submenu">
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="error.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="practice-areas.html">Practice Areas</a>
                            <ul class="submenu">
                                <li><a href="law-single.html">Cosumer Law</a></li>
                                <li><a href="law-single.html">Family Law</a></li>
                                <li><a href="law-single.html">Criminal Law</a></li>
                                <li><a href="law-single.html">Drug Control Law</a></li>
                                <li><a href="law-single.html">Business Law</a></li>
                                <li><a href="law-single.html">Insurance Law</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="attorneys.html">Attorneys</a>
                            <ul class="submenu">
                                <li><a href="attorney-single.html">David Vigo Michel</a></li>
                                <li><a href="attorney-single.html">Jem Stone Lawrence</a></li>
                                <li><a href="attorney-single.html">Mercy Van Desosa</a></li>
                                <li><a href="attorney-single.html">Patrick John Meckey</a></li>
                                <li><a href="attorney-single.html">Nancy Williamson</a></li>
                                <li><a href="attorney-single.html">Stephen Fernando</a></li>
                                <li><a href="attorney-single.html">Serina Jaccobs</a></li>
                                <li><a href="attorney-single.html">Darren Flemming</a></li>
                            </ul>
                        </li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li class="dropdown"><a href="blog-classic.html">News</a>
                              <ul class="submenu">
                                <li><a href="blog-classic.html">Blog Classic Layout</a></li>
                                <li><a href="blog-list.html">Blog List Layout</a></li>
                                <li><a href="blog-grid.html">Blog Grid Layout</a></li>
                                <li><a href="blog-single.html">Blog Single Post</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="shop.html">Shop</a>
                            <ul class="submenu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="register-login.html">Register / Login</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                </div><!-- /.Side-menu -->
            
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            
            </div><!-- / Hidden Bar Wrapper -->
        </section><!-- / Hidden Bar -->
    
    
        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/background/pagetitle-bg.jpg);">
            <div class="auto-container">
            	<h1>Shop Single</h1>
            </div>
        </section>
        
        
        <!--Page Info-->
        <section class="page-info">
            <div class="auto-container clearfix">
            	<div class="pull-left"><h2>Shop</h2></div>
                <div class="pull-right">
                	<ul class="bread-crumb clearfix">
                    	<li><a href="index.html">Home</a></li>
                        <li>Shop Single</li>
                    </ul>
                </div>
            </div>
        </section>
        
        
        <!--Sidebar Page-->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">
              		
                    <!--Content Side-->      
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                    	
                        <!--Product Details Section-->
                        <section class="products-section product-details no-padd-top no-padd-bottom">
							<!--Basic Details-->
                            <div class="basic-details">
                            	<div class="row clearfix">
                                	<div class="image-column col-md-5 col-sm-6 col-xs-12">
                                    	<figure class="image-box"><img class="img-responsive" src="images/shop/image-10.jpg" alt=""></figure>
                                    </div>
                                    <div class="info-column col-md-7 col-sm-6 col-xs-12">
                                    	<div class="details-header">
                                        	<h4>Financial Peace Planner</h4>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="txt">(6 Reviews)</span></div>
                                            <div class="item-price">$ 39.99</div>
                                            
                                        </div>
                                        
                                        <div class="text">
                                        	<p>Consumer prottection law or consumeer law is considered an area of law that regulates private lawye relationships between individual denouncing pleasure and praising pain was born.</p>
                                        </div>
                                        
                                        <div class="check-delivery">
                                        	<h4>Check Delivery Option at Your Location:</h4>
                                            
                                            <div class="form-outer">
                                            	<form method="post" action="index.html">
                                                	<div class="clearfix">
                                                    	<div class="form-group">
                                                        	<input type="text" name="chk-delivery" placeholder="Pincode" required>
                                                        </div>
                                                        <div class="form-group">
                                                        	<button type="button">Check</button>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                        	<div class="field-label">Expected Delivery in 8 Days</div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        
                                        <div class="clearfix">
                                        	<div class="pull-left padd-right-20 item-quantity"><input class="quantity-spinner" type="text" value="1" name="quantity"></div>
                                            <div class="pull-left padd-right-20"><a href="#" class="theme-btn btn-style-one">Add to Cart</a></div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div><!--Basic Details-->
                            
                            <!--Product Info Tabs-->
                            <div class="product-info-tabs">
                                
                                <!--Product Tabs-->
                            	<section class="prod-tabs" id="product-tabs">
                                
                                    <!--Tab Btns-->
                                    <div class="tab-btns clearfix">
                                        <a href="#prod-description" class="tab-btn active-btn">Description</a>
                                        <a href="#prod-author" class="tab-btn">About Author</a> 
                                        <a href="#prod-reviews" class="tab-btn">Reviews ( 3 )</a> 
                                    </div>
                                    
                                    <!--Tabs Container-->
                                    <div class="tabs-container">
                                        
                                        <!--Tab / Active Tab-->
                                        <div class="tab active-tab" id="prod-description">
                                            <h3>Description</h3>
                                            <div class="content">
                                                <h4>Sample Lorem Ipsum Text</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus. Vestibulum ut nulla aliquam risus rutrum interdum. Pellentesque lorem. Curabitur sit amet erat quis risus feugiat viverra. Pellentesque augue justo, sagittis et, lacinia at, venenatis non, arcu. Nunc nec libero. In cursus dictum risus. Etiam tristique nisl a.</p>
                                                <h4>Sample Lorem Ipsum Text</h4>
                                                <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque aliquet lacus vitae pede. Nullam mollis dolor ac nisi. Phasellus sit amet urna. Praesent pellentesque sapien sed lacus. Donec lacinia odio in odio. In sit amet elit. Maecenas gravida interdum urna. Integer pretium, arcu vitae imperdiet facilisis, elit tellus tempor nisi, vel feugiat ante velit sit amet mauris. Vivamus arcu. Integer pharetra magna ac lacus. Aliquam vitae sapien in nibh vehicula auctor. Suspendisse leo mauris, pulvinar sed, tempor et, consequat ac, lacus. Proin velit. Nulla semper lobortis mauris. Duis urna erat, ornare et, imperdiet eu, suscipit sit amet, massa. Nulla nulla nisi, pellentesque at, egestas quis, fringilla eu, diam.</p>
                                                <p>hiral makwana</p>
                                            </div>
                                        </div>
                                        
                                        <!--Tab-->
                                        <div class="tab" id="prod-author">
                                            <h3>Dimitri Mendleve</h3>
                                            <div class="content">
                                                <p>There are many variations seds of passages of books are available, but the majority have suffered alteration in some seds form, by injected humour, or randomised words which don't look even slightly ut believable.</p>
                                                <p>If you want to be more effective and information you should try on our Books, they are worth you.</p>
                                                <p>Passage you need to be sure there isn't anything embarrassing hidden ut in the middle of text all theIpsum generators on the Internet tend to repeat predefined chunks as necessary, makings this seds the first true generatorInternet There are many variations of passages of Lorem Ipsum available, but ut the majority have seds suffered alteration in some form, by injected humour, or randomiseed words which don't looks even slightly believable. If you are going toouse a passage off Lorem Ipsum, you needs to be sure there isn't anything seds embarrassing hidden in the middle of theIpsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generators on the Internet  Its uses a dictionary of over 200 Books, combined handfulwhich looks reasonable.</p>
                                                <p>hiral makwana</p>
                                            </div>
                                        </div>
                                        
                                        <!--Tab / Active Tab-->
                                        <div class="tab" id="prod-reviews">
                                            <h3>3 Reviews for Cras eget augu </h3>
                                            
                                            <!--Reviews Container-->
                                            <div class="reviews-container">
                                                
                                                <!--Reviews-->
                                                <article class="review-box clearfix">
                                                    <figure class="rev-thumb"><img src="images/resource/author-thumb-2.jpg" alt=""></figure>
                                                    <div class="rev-content">
                                                        <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                                        <div class="rev-info">admin – April 3, 2015: </div>
                                                        <div class="rev-text"><p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis</p></div>
                                                    </div>
                                                </article>
                                                
                                                <article class="review-box clearfix">
                                                    <figure class="rev-thumb"><img src="images/resource/author-thumb-3.jpg" alt=""></figure>
                                                    <div class="rev-content">
                                                        <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                                        <div class="rev-info">admin – April 3, 2015: </div>
                                                        <div class="rev-text"><p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis</p></div>
                                                    </div>
                                                </article>
                                                
                                                <article class="review-box clearfix">
                                                    <figure class="rev-thumb"><img src="images/resource/author-thumb-4.jpg" alt=""></figure>
                                                    <div class="rev-content">
                                                        <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                                        <div class="rev-info">admin – April 3, 2015: </div>
                                                        <div class="rev-text"><p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis</p></div>
                                                    </div>
                                                </article>
                                                
                                            </div>
                                            
                                            <!--Add Review-->
                                            <div class="add-review">
                                                <h3>Add a Review</h3>
                                                
                                                <form method="post" action="shop-single.html">
                                                    <div class="form-group">
                                                        <label>Name *</label>
                                                        <input type="text" name="name" value="" placeholder="" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email *</label>
                                                        <input type="email" name="email" value="" placeholder="" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Rating </label>
                                                        <div class="rating">
                                                            <a href="#" class="rate-box" title="1 Out of 5"><span class="fa fa-star"></span></a>
                                                            <a href="#" class="rate-box" title="2 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                            <a href="#" class="rate-box" title="3 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"> </span> <span class="fa fa-star"></span></a>
                                                            <a href="#" class="rate-box" title="4 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                            <a href="#" class="rate-box" title="5 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Your Review</label>
                                                        <textarea name="review-message"></textarea>
                                                    </div>
                                                    <div class="form-group text-right">
                                                        <button type="button" class="theme-btn hvr-bounce-to-right">Add Review</button>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                    </div>
                                </section>
                                
                            </div>
                            
                        </section>
                        
                        
                        <!--Related Products-->
                        <section class="related-products">
                        	<div class="row clearfix">
                            	<!--Product Item-->
								<article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box">
                                            <img src="images/shop/image-4.jpg" alt="">
                                            <div class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <a href="#" class="theme-btn btn-style-three">Add To Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                        <div class="content-box">
                                        	<h4><a href="#">Common Stocks &amp; Profit</a></h4>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                            <div class="item-price">$ 19.99 <span class="strike-through">$ 54.99</span></div>
                                        </div>
                                    </div>
                                </article>
                                
                                <!--Product Item-->
								<article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box">
                                            <img src="images/shop/image-5.jpg" alt="">
                                            <div class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <a href="#" class="theme-btn btn-style-three">Add To Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                        <div class="content-box">
                                        	<h4><a href="#">Financial Peace Palnner</a></h4>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                            <div class="item-price">$ 53.99 <span class="strike-through">$ 49.99</span></div>
                                        </div>
                                    </div>
                                </article>
                                
                                <!--Product Item-->
								<article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box">
                                            <img src="images/shop/image-6.jpg" alt="">
                                            <div class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <a href="#" class="theme-btn btn-style-three">Add To Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                        <div class="content-box">
                                        	<h4><a href="#">Security Analysis</a></h4>
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                            <div class="item-price">$ 74.99</div>
                                        </div>
                                    </div>
                                </article>
                                
                            </div>
                        </section>
                    
                    </div><!--End Content Side-->   
                    
                    <!--Sidebar-->      
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pull-left">
                    	<aside class="sidebar">
                        	
                            <!-- Search Form -->
                            <div class="widget search-box sidebar-widget">
                                
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search Keyword">
                                        <button type="submit"><span class="icon fa fa-search"></span></button>
                                    </div>
                                </form>
                                
                            </div>
                            
                            <!-- Popular Categories -->
                            <div class="widget popular-categories sidebar-widget">
                                <div class="styled-heading"><h2>Product Categories</h2></div>
                                
                                <ul class="list style-two">
                                    <li><a class="clearfix" href="#"><span class="txt pull-left">Criminal Law </span> <span class="count pull-right">(05)</span></a></li>
                                    <li><a class="clearfix" href="#"><span class="txt pull-left">Consumer Law</span> <span class="count pull-right">(08)</span></a></li>
                                    <li><a class="clearfix" href="#"><span class="txt pull-left">Insurance Law</span> <span class="count pull-right">(12)</span></a></li>
                                    <li><a class="clearfix" href="#"><span class="txt pull-left">Attorneys</span> <span class="count pull-right">(33)</span></a></li>
                                    <li><a class="clearfix" href="#"><span class="txt pull-left">Free Consultation </span> <span class="count pull-right">(07)</span></a></li>
                                    <li><a class="clearfix" href="#"><span class="txt pull-left">Best Judgements </span> <span class="count pull-right">(07)</span></a></li>
                                </ul>
                                
                            </div>
							
							
							<!-- Price Filter -->
							<div class="widget rangeslider-widget sidebar-widget">
								<div class="styled-heading"><h2>Price Filters</h2></div>
									
								<div class="range-slider-price" id="range-slider-price"></div>
								
								<br>
								<div class="form-group">
									<input type="text" class="val-box" id="min-value-rangeslider">
									<input type="text" class="val-box" id="max-value-rangeslider">
									<button type="button">Filter</button>
								</div>
							</div>
                            
                            <!-- Best Sellers -->
                            <div class="widget best-sellers sidebar-widget">
                                <div class="styled-heading"><h2>Best Sellers</h2></div>
                                
                                <div class="item">
                                    <div class="post-thumb"><a href="#"><img src="images/shop/thumb-1.jpg" alt=""></a></div>
                                    <h4><a href="#">Security Analysis</a></h4>
									<div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                    <div class="item-price">$ 19.99</div>
                                </div>
								
								<div class="item">
                                    <div class="post-thumb"><a href="#"><img src="images/shop/thumb-2.jpg" alt=""></a></div>
                                    <h4><a href="#">Market Wizards</a></h4>
									<div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                    <div class="item-price">$ 14.99</div>
                                </div>
								
								<div class="item">
                                    <div class="post-thumb"><a href="#"><img src="images/shop/thumb-3.jpg" alt=""></a></div>
                                    <h4><a href="#">Lords of Finance</a></h4>
									<div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                    <div class="item-price">$ 34.99</div>
                                </div>
                                
                            </div>
                            
                            
                            
                        </aside>
                    </div><!--End Sidebar-->      
                    
                </div>
            </div>
        </div>
        
    
    	<!--Main Footer-->
        <footer class="main-footer">
            
            <!--Footer Upper-->        
            <div class="footer-upper" style="background-image:url(images/background/footer-bg.jpg);">
                <div class="auto-container">
                    <div class="row clearfix">
                        
                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget about-widget">
                                        <h3>About Lawyer Justice</h3>
                                        <div class="text">
                                            <p>Since 1965, who loves or pursues seds or ut desires too obtains <a href="#">Attorneys</a> of itself sed, will ut because it is pain, but because occasionally labor uts lawyer Lawyer Justice occurs.</p>
                                            <p>Lawyer Justice who loves or pursues seds or ut desires too obtains of itself sed, will ut because it is  Lawyer.</p>
                                        </div>
                                        
                                        <a href="#" class="theme-btn btn-style-one">Buy this Theme</a>
                                        
                                    </div>
                                </div>
                                
                                <!--Footer Column-->
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <h3>Usefull Links</h3>
                                    <div class="row clearfix">
                                        
                                        <div class="col-lg-6 col-sm-6 col-xs-12">
                                            <div class="footer-widget links-widget">
                                                <ul>
                                                    <li><a href="#">Family Law</a></li>
                                                    <li><a href="#">Criminal Law</a></li>
                                                    <li><a href="#">Drug Law</a></li>
                                                    <li><a href="#">Business Law</a></li>
                                                    <li><a href="#">Insurance Law</a></li>
                                                    <li><a href="#">Judicial Law</a></li>
                                                    <li><a href="#">Accident Law</a></li>
                                                    <li><a href="#">Devorce Law</a></li>
                                                </ul>
                    
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-sm-6 col-xs-12">
                                            <div class="footer-widget links-widget">
                                                <ul>
                                                    <li><a href="#">About Us</a></li>
                                                    <li><a href="#">Attorneys</a></li>
                                                    <li><a href="#">Our Blog</a></li>
                                                    <li><a href="#">FAQs</a></li>
                                                    <li><a href="#">Consultation</a></li>
                                                    <li><a href="#">Offices</a></li>
                                                    <li><a href="#">Careers</a></li>
                                                    <li><a href="#">Contact Us</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div><!--Two 4th column End-->
                        
                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget twitter-feeds">
                                        <h3>Latest Tweets</h3>	
                                        <div class="feed">
                                            <div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="feed-content"><a href="#">@SteelThemes</a>  Lawyer Justice is Best Template Now.</div>
                                            <div class="time">10 Mins Ago</div>
                                        </div>
                                        
                                        <div class="feed">
                                            <div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="feed-content"><a href="#">@SteelThemes</a>  They Provide Best Service in the World.</div>
                                            <div class="time">2 Hours Ago</div>
                                        </div>
                                        
                                        <div class="feed">
                                            <div class="icon"><span class="fa fa-twitter"></span></div>
                                            <div class="feed-content"><a href="#">@Dragon Tech</a>  Lawyer Justice Have experinced Attorneys.</div>
                                            <div class="time">2 Hours Ago</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <!--Footer Column-->
                                <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget newsletter-widget">
                                        <h3>Newsletter</h3>
                                        
                                        <div class="newsletter-form">
                                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                                            <form method="post" action="index.html">
                                                <div class="form-group">
                                                    <input type="email" name="useremail" value="" placeholder="Email address" required>
                                                    <button type="submit" class="theme-btn btn-submit">Go</button>
                                                </div>
                                                <p><em>Your mail id is Confidential</em></p>
                                            </form>
                                        </div>
                                        
                                        <h4>Follow Us On</h4>
                                        
                                        <div class="social-links">
                                            <a href="#"><span class="fa fa-facebook-f"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                            <a href="#"><span class="fa fa-skype"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--Two 4th column End-->
                        
                    </div>
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12"><div class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by SteelThemes</div></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!--Bottom Nav-->
                            <nav class="footer-nav clearfix">
                                <ul class="pull-right clearfix">
                                    <li><a href="#">Terms Of Use </a></li>
                                    <li><a href="#">Privacy &amp; Security Statement</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            
        </footer>
    
    
	</div><!--Page Wrapper End-->
</div>
<!--page-outer-container-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.bootstrap-touchspin.js"></script>
<script src="js/owl.js"></script>
<script src="js/nouislider.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
